<!DOCTYPE html>
<html>

<head>
<title>Car Price Predictor</title>
</head>

<body>

<h1>Car Price Prediction</h1>

<form action="/predict" method="post">

Car Model:
<select name="name">
{% for model in car_models %}
<option value="{{model}}">{{model}}</option>
{% endfor %}
</select>

<br><br>

Company:
<select name="company">
{% for company in companies %}
<option value="{{company}}">{{company}}</option>
{% endfor %}
</select>

<br><br>

Year:
<input type="number" name="year">

<br><br>

KMs Driven:
<input type="number" name="kms_driven">

<br><br>

Fuel Type:
<select name="fuel_type">
{% for fuel in fuel_types %}
<option value="{{fuel}}">{{fuel}}</option>
{% endfor %}
</select>

<br><br>

<input type="submit" value="Predict Price">

</form>

</body>

</html>